<label for="headline">
	<f:translate key="tx_grbzlbfile_domain_model_document.headline"/>
	<span class="required">(required)</span>
</label><br/>
<f:form.textbox property="headline"/><br/>
<label for="owner">
	<f:translate key="tx_grbzlbfile_domain_model_document.owner"/>
</label><br/>
<f:form.textbox property="owner"/><br/>
<label for="description">
	<f:translate key="tx_grbzlbfile_domain_model_document.description"/>
</label><br/>
<f:form.textbox property="description"/><br/>
<label for="file">
	<f:translate key="tx_grbzlbfile_domain_model_document.file"/>
</label><br/>
<f:form.upload property="file"/><br/>