<table class="tx-grb-zlbfile" >
	<tr>
		<td>
			<f:translate key="tx_grbzlbfile_domain_model_document.headline" />
		</td>
		<td>
			{document.headline}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_grbzlbfile_domain_model_document.owner" />
		</td>
		<td>
			{document.owner}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_grbzlbfile_domain_model_document.description" />
		</td>
		<td>
			{document.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_grbzlbfile_domain_model_document.file" />
		</td>
		<td>
			{document.file}
		</td>
	</tr>
</table>